# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
__pycache__/
# # Unit test / coverage reports
.coverage
.coverage.*
# I dont want to keep the tchtchtch.py file in the repo
tchtchctch.py
__pycache__/
*.pyc
__pycache__/
*.pyc
